@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*sempre que fizer algo no css esse é o padrao para trabalhar, box sizing:border-box e margin 0*/


.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo{
    flex: 20%;
    margin-left: 10%;
    /*border: 1px solid red;*/
    text-align: left;


}

.logo h1{
    font-family: 'Lobster', cursive;
    color: #090975;
    font-size: 30px;
}

.menu{
    flex: 70%;
    /*border: 1px solid yellow;*/
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #090975;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #7d25cf;
    border-top: 4px solid #090975;
}

#botao{
    background: #090975;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;

}

#botao:hover{
    border: none;
    background: #7d25cf;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 100px;
}

.headline{
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid green; */
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #090975;
    padding: 0;
    margin: 0;
}

.headline p{
    color: gray;
    text-align: left;
}

.contact-btn{
    display: inline-block;
    background: #7d25cf;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover{
    background: #090975;
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid red; */
    text-align: center;
}

section{
    display: inline-block;
    margin-top: 80px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    /* height: 400px; */
    padding: 5%;
    text-align: center;
    /* width: 90%; */
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #090975;
}

.serviços{
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #7d25cf;
    border-radius: 5px;
    cursor: pointer;
}

.card p{
    color: gray;
}

.card:hover{
    background:#090975;
    color: white;
    padding: 40px;
    
}

.card h3{
    font-family:cursive
    
}

footer{
    margin-top: 100px;
    height: 400px;
    background-image:linear-gradient(180deg, #7d25cf, #090975, black);
    text-align: center;
    border-top: 5px solid #7d25cf;
}

.logo-rodape{
    padding: 100px;
}

.agencia{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 30px;
}

.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
}